@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Arial", sans-serif;
}

.file-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

